<template>
  <div class="ui fluid card" style="min-width: 30%; min-height: 25%;">
    <div class="content">
    <div class="header">{{ entry.title }}</div>
    <a class="ui tag tiny label" v-for="tag in entry.tags" v-bind:key="tag">{{ tag }}</a>
    </div>

    <!-- type label -->
    <div class="ui top right attached label" v-if="entry.type.substr(0,5)==='video'">
    <i class="video icon" ></i>
    </div>
    <div class="ui top right attached label yellow" v-else-if="entry.type=='gdrive'">
    <i class="google drive icon"></i>
    </div>
    <div class="ui top right attached label red" v-else-if="entry.type=='youtube'">
    <i class="youtube icon"></i>
    </div>
    <div class="ui top right attached label blue" v-else-if="entry.type=='image'">
    <i class="image icon"></i>
    </div>

    <!-- embedded content -->
    <div class="content center">
    <div v-if="entry.embed!==false">

        <!-- directly hosted video -->
        <video class="vplayer" id="player" clickToPlay playinline v-if="entry.type.substr(0,5)==='video'">
        <source v-bind:src="entry.url" v-bind:type="entry.type"/>
        </video>

        <!-- google drive document -->
        <iframe v-bind:src="entry.url" style="min-height: 240px; width: 100%; height: auto;" v-else-if="entry.type==='gdrive'"></iframe>

        <!-- youtube video -->
        <iframe style="min-height: 240px; width: 100%; height: auto;" v-bind:src="'https://www.youtube.com/embed/' + entry.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen v-else-if="entry.type==='youtube'"></iframe>

        <!-- static images -->
        <a v-bind:href="entry.url" target="_blank" class="ui fuid image" v-else-if="entry.type==='image'">
        <div class="ui right corner label">
            <i class="external icon"></i>
        </div>
        <img v-bind:src="entry.url">
        </a>

        <div class="ui negative message" v-else>
        unsupported type: {{ entry.type }}
        </div>

    </div>
    <div class="center" v-else>
        <!-- alternate link for non-embedded content -->
        <a style="margin: auto" class="ui labeled icon button" v-bind:href="entry.url" target="_blank">
        <i class="external icon"></i> Open      
        </a>
    </div>

    </div>

    <!-- metadata -->
    <div class="extra content">
    <div class="meta">
        <span v-if="entry.author"><i class="user icon"></i> {{entry.author}}</span>
        <span><i class="linkify icon"></i> 
        <a v-bind:href="entry.source" target="_blank" v-if="entry.source">{{entry.source}}</a>
        <a v-bind:href="entry.url" target="_blank" v-else>{{entry.url}}</a>
        </span>
        <span class="ui basic icon button" v-on:click="deleteEntry(entry.id)"><i class="trash icon"></i></span>
    </div>
    </div>

</div>    
</template>

<script>
export default {
    props: ['entry'],
    methods: {
        deleteEntry: function(id) {
            this.$emit('deleted', id)
        }
    }  
}
</script>