<template>
  <form class="ui centered form card" style="margin-top: 80px;">
      <div class="content">
        <div class="header"><i class="key icon"></i> log in</div>
      </div>
      <!--<div class="content">
        <div class="field"  v-bind:class="{error: loginMailMissing}">
          <label>e-mail</label>
          <input type="text" name="email" placeholder="me@example.com" v-model="loginMail">
        </div>
        <div class="field" v-bind:class="{error: loginPasswordMissing}">
          <label>password</label>
          <input type="password" name="password" placeholder="" v-model="loginPassword" v-on:keyup.enter="logIn()">
        </div>
      </div>
      <button class="ui primary button" type="button" v-on:click="logIn()">login</button>
      <div class="ui divider"></div>-->

      <button class="ui red basic labeled icon button" :class="{loading: this.loading}" type="button" v-on:click="logInWithGoogle()"><i class="google icon"></i>login with google</button>
      <button class="ui blue basic labeled icon button" :class="{loading: this.loading}" style="margin-top: 5px;" type="button" v-on:click="logInWithFacebook()"><i class="facebook icon"></i>login with facebook</button>
    </form>
</template>

<script>
import * as firebase from 'firebase'
import 'firebase/auth'
const COOKIE_MAIL = 'memento-email'
const COOKIE_PASSWORD = 'memento-password'

export default {
  name: 'LoginForm',
  data: function() {
    return {
      errorCode: undefined,
      errorMessage: undefined,
      userCredentials: undefined,
      loginMail: "",
      loginMailMissing: false,
      loginPassword: "",
      loginPasswordMissing: false,
      loading: false 
    }
  },
  props: {
   fbAuth: Object
  },
  mounted() {
    this.runAutoLogin()
  },
  methods: {
    logInWithGoogle: function() {
      this.loading = true
      this.loginWithProvider(new firebase.auth.GoogleAuthProvider())
    },
    logInWithFacebook: function() {
      this.loading = true
      this.loginWithProvider(new firebase.auth.FacebookAuthProvider())
    },
    loginWithProvider: function(provider) {
      this.fbAuth.setPersistence(firebase.auth.Auth.Persistence.LOCAL).then(() => {
        this.fbAuth.signInWithPopup(provider).then(credentials => {
          this.$emit('userLoggedIn', credentials)
        }).catch(error => {
          this.$emit('error', error.code, error.message)
        }).finally(() => {
          this.loading = false
        })
      })
    },
    runAutoLogin: function() {
      let mail = this.$cookies.get(COOKIE_MAIL)
      let password = this.$cookies.get(COOKIE_PASSWORD)

      if(mail !== null && password !== null) {
        this.firebaseLoginWithMailAndPassword(mail, password)
      }
    },
    logIn: function() {
      this.loginPasswordMissing = false;
      this.loginMailMissing = false;

      if (this.loginMail.length < 1) {
        this.loginMailMissing = true
        return
      }

      if (this.loginPassword.length < 1) {
        this.loginPasswordMissing = true
        return
      }

      this.firebaseLoginWithMailAndPassword(this.loginMail, this.loginPassword)
    },
    firebaseLoginWithMailAndPassword: function(mail, password) {
      this.fbAuth.signInWithEmailAndPassword(mail, password).then(credentials => {
        this.userCredentials = credentials
        /*this.$cookies.set(COOKIE_MAIL, mail)
        this.$cookies.set(COOKIE_PASSWORD, password)*/
      }).then(() => {
        this.$emit('userLoggedIn', this.userCredentials)
      }).catch(error => {
        this.$emit('error', error.code, error.message)
        /*this.$cookies.remove(COOKIE_MAIL)
        this.$cookies.remove(COOKIE_PASSWORD)*/
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
