<template>
    <form class="ui fluid form card" style="min-width: 30%; min-height: 25%;">
          <div class="content">
            <div class="field header" v-bind:class="{error: addNewFormErrors.title}">
              <input type="text" placeholder="title" v-model="newEntryCache.title">
            </div>
            <div class="field">
              <label>tags</label>
              <input type="text" placeholder="space separated tags" v-model="newEntryCache.tags">
            </div>        
          </div>
          <div class="content">
            <div class="field" v-bind:class="{error: addNewFormErrors.url}">
              <label>url</label>
              <input type="text" placeholder="https://your.url.com" v-model="newEntryCache.url">
            </div>
            <div class="field"  v-bind:class="{error: addNewFormErrors.type}">
              <label>type</label>
              <input type="text" placeholder="gdrive, video/*, youtube, image, ..." v-model="newEntryCache.type">
            </div>
            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox" tabindex="0" v-model="newEntryCache.embed">
                <label>embedded</label>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="field">
              <label><i class="user icon"></i>author</label>
              <input type="text" placeholder="Jane Doe" v-model="newEntryCache.author">
            </div>
            <div class="field">
              <label><i class="linkify icon"></i>source</label>
              <input type="text" placeholder="url, PDOI, ..." v-model="newEntryCache.source">
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button" v-on:click="addNewEntry">add</div>
              <div class="ui basic red button" @click="cancelForm()">cancel</div>
            </div>
          </div>
        </form>
</template>

<script>
export default {
    name: "NewEntryForm",
    data: function() { return {
        newEntryCache: {
        id: undefined,
        title: "",  
        type: "",
        url: "",
        embed: undefined,
        author: undefined,
        source: undefined
        },
        addNewFormErrors: {
            title: false,
            type: false,
            url: false
        }
    }},
    methods: {
        cancelForm: function() {
            this.$emit('cancelled')
        },
        addNewEntry: function() {
                this.addNewFormErrors = {
                title: false,
                type: false,
                url: false
            }
            if(this.newEntryCache.title.length < 1) {
                this.addNewFormErrors.title = true
            }
            if(this.newEntryCache.type.length < 1) {
                this.addNewFormErrors.type = true
            }
            if(this.newEntryCache.url.length < 1) {
                this.addNewFormErrors.url = true
            }

            if(this.addNewFormErrors.title || this.addNewFormErrors.type || this.addNewFormErrors.url) {
                return
            }

            console.log(this.newEntryCache)

            if(this.newEntryCache.tags != undefined) {
                this.newEntryCache.tags = this.newEntryCache.tags.split(' ')
            }

            let newEntry = JSON.parse(JSON.stringify(this.newEntryCache))
            console.log(newEntry)
            this.$emit('newEntry', newEntry)

            // clean value cache for next use
            for (var entry in this.newEntryCache) this.newEntryCache[entry] = undefined;
            this.newEntryCache.title = ""
            this.newEntryCache.type = ""
            this.newEntryCache.url = ""
            this.newEntryCache.tags = undefined
        }
    }
}
</script>