<template>
  <div id="app">

    <!-- top menu -->
    <div class="ui top fixed menu" style="height: 5em; width: 100%;">
      <div class="header item"><h1>memento</h1></div>      
    
      <a class="item" style="min-width: 32px;" v-bind:class="{active: showAddForm}" v-on:click="showAddForm = !showAddForm"><i class="pink plus icon"></i></a>
      <a class="item" style="min-width: 32px;" v-bind:class="{active: typeFilter.indexOf('video')>-1}" v-on:click="setTypeFilter('video')"><i class="video icon"></i></a>
      <a class="yellow item" style="min-width: 32px;" v-bind:class="{active: typeFilter.indexOf('gdrive')>-1}" v-on:click="setTypeFilter('gdrive')"><i class="google drive icon"></i></a>
      <a class="red item" style="min-width: 32px;" v-bind:class="{active: typeFilter.indexOf('youtube')>-1}" v-on:click="setTypeFilter('youtube')"><i class="youtube icon"></i></a>
      <a class="blue item" style="min-width: 32px;" v-bind:class="{active: typeFilter.indexOf('image')>-1}" v-on:click="setTypeFilter('image')"><i class="image icon"></i></a>

      <div class="ui category search item" style="min-width: 256px;">
        <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Search..." v-model="searchFilter">
            <i class="search link icon"></i>
        </div>
      </div>

      <div class="ui category fluid text item">
        <div class="ui green image label" v-if="userCredentials">
          <i class="user icon"></i>
          {{ userCredentials.email }}
        </div>
        <a class="ui blue image label" v-else>
          <i class="user icon"></i>
          anonymous
        </a>
      </div>

      <a class="item" style="min-width: 32px;" v-on:click="signOut()" v-if="userCredentials"><i class="pink logout icon"></i></a>

    </div>

    <router-view></router-view>

    <!-- global panic error message spot -->
    <div class="ui negative message" v-if="errorCode" style="margin-top: 80px;">
      {{ errorCode }} - {{ errorMessage }}
    </div>

    <!-- login form if not logged in -->
    <LoginForm v-else-if="userCredentials === undefined" style="margin-top: 80px;" :fbAuth="firebase.auth()" @error="handleError"></LoginForm>

    <!-- actual app content -->
    <div class="ui three column grid"  style="margin-top: 20px;" v-else>
      <div class="column" v-for="(chunk,n) in entries" v-bind:key="n">

        <!-- form to add new content -->
        <NewEntryForm v-if="n == 0 && showAddForm" @cancelled="hideNewEntryForm()" @newEntry="handleNewEntry"></NewEntryForm>

        <!-- content cards -->
        <ContentCard v-for="entry in chunk" v-bind:key="entry.id" :entry="entry" @deleted="deleteEntry"></ContentCard>
      </div>
    </div>
  </div>

</template>

<script>
import Plyr  from 'plyr'
import * as firebase from 'firebase/app'
import 'firebase/auth'
import 'firebase/firestore'
import LoginForm from './components/LoginForm'
import NewEntryForm from './components/NewEntryForm'
import ContentCard from './components/ContentCard'

const FB_COLLECTION_PRIVATE = 'private'

const firebaseConfig = {
      apiKey: process.env.VUE_APP_MEMENTO_FB_APIKEY,
      authDomain: process.env.VUE_APP_MEMENTO_FB_AUTHDOMAIN,
      databaseURL: process.env.VUE_APP_MEMENTO_FB_DBURL,
      projectId: process.env.VUE_APP_MEMENTO_FB_PROJECTID,
      storageBucket: process.env.VUE_APP_MEMENTO_FB_STORAGEBUCKET,
      messagingSenderId: process.env.VUE_APP_MEMENTO_FB_MESSAGINGSENDERID,
      appId: process.env.VUE_APP_MEMENTO_FB_APPID,
      measurementId: process.env.VUE_APP_MEMENTO_FB_MEASUREMENTID
}

firebase.initializeApp(firebaseConfig)

export default {
  name: 'memento',
  components: {
    LoginForm,
    NewEntryForm,
    ContentCard
  },
  data: () => {
    return {
      tags: [],
      typeFilter: [],
      columns: 3,
      raw: [],
      searchFilter: "",
      filteredRaw: [],
      errorCode: undefined,
      errorMessage: undefined,
      userCredentials: undefined,
      showAddForm: false,
      firebase
    }
  },
  mounted: function() {
    let self = this
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        self.userCredentials = user
        console.log("auth state changed")
        console.log(self.userCredentials)
        this.fetchContent()
      }
    })
  },
  updated: () => {
    new Plyr('.vplayer');
  },
  methods: {
    handleNewEntry: function(data) {
      data.id = this.raw.length // incremental id
      this.raw.push(data)
      this.saveEntrySet()
      this.hideNewEntryForm()
    },
    hideNewEntryForm: function() {
      this.showAddForm = false
    },
    handleError: function(errorCode, errorMessage) {
      console.log('error: ' + errorCode + ", message: " + errorMessage)
      this.errorCode = errorCode
      this.errorMessage = errorMessage
    },
    deleteEntry: function(id) {
      this.raw = this.raw.filter(function( obj ) {
        return obj.id !== id
      });
      this.filterIfFilterIsSet()
      this.saveEntrySet()
    },
    saveEntrySet: function() {
      let docRef = firebase.firestore().collection(FB_COLLECTION_PRIVATE).doc(this.userCredentials.user.uid)
      docRef.set({
          feed: this.raw
      }, { merge: true }).then(() => {
        this.fetchContent()
      }).catch(error => {
        this.errorCode = 4712
        this.errorMessage = error
      })
    },
    chunk: function(arr, size) {
      var newArr = [];
      for (var i=0; i<arr.length; i+=size) {
        newArr.push(arr.slice(i, i+size));
      }
     return newArr;
    },
    setTypeFilter: function(type) {
      let ind = this.typeFilter.indexOf(type);
      if (ind < 0) {
        this.typeFilter.push(type)
      } else {
        this.typeFilter.splice(ind, 1)
      }
    },
    fetchContent: function() {
      let self = this
      console.log("fetch Content")
      console.log(self.userCredentials)
      let db = firebase.firestore()
      let docRef = db.collection(FB_COLLECTION_PRIVATE).doc(self.userCredentials.uid)
      docRef.get().then(doc => {
        console.log(doc.data())
        if(doc.exists) {
          self.raw = doc.data().feed.reverse()
          self.filterIfFilterIsSet()
        } else {
          docRef.set({feed: []})
          self.raw = self.filteredRaw = []
        }
      }).catch(error => {
        self.errorCode = 4711
        self.errorMessage = error
      })
    },
    filterBy: function(f) {
      let parts = f.split(' ')

      this.filteredRaw = []
      parts.forEach(part => {
        if(part.length > 0) {
          this.raw.forEach(entry => {
            if ((entry.tags !== undefined && entry.tags.indexOf(part) != -1) || entry.title.toLowerCase().includes(part.toLowerCase())) {
              if(this.filteredRaw.indexOf(entry) < 0) {
                this.filteredRaw.push(entry)
              }
            }
          })
        }
      })
    },
    filterIfFilterIsSet: function() {
      if(this.searchFilter.length < 1) {
            this.filteredRaw = this.raw
            return
          }
          this.filterBy(this.searchFilter)
    },
    signOut: function() {
      firebase.auth().signOut().then(() => {
        this.userCredentials = undefined
      }).catch(error => {
        this.errorCode = error.code
        this.errorMessage = error.message
      })
    }
  },
  computed: {
    entries: function() {
      if(this.filteredRaw.length < 1) {
        return []
      }

      let baseData = []

      if(this.typeFilter.length > 0) {
        this.typeFilter.forEach(t => {
          this.filteredRaw.forEach(e => {
            if (e.type === t || (t == 'video' && e.type.substr(0,5) == t) ) {
              baseData.push(e)
            }
          })
        })
      } else {
        baseData = this.filteredRaw
      }

      return this.chunk(baseData,  Math.ceil(this.raw.length/this.columns))
    }
  },
   watch: {
        'searchFilter': function(){
          this.filterIfFilterIsSet()
      }
    }
}
</script>

<style>
#app {
  margin: 10px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
</style>
